@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body,
html {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  overflow: hidden;
  background: rgb(255,131,65);
background: linear-gradient(180deg, rgba(255,131,65,1) 0%, rgba(171,87,42,1) 100%);
}
.nav li {
  float: right;
}
.nav ul a li {

  display: block;
  text-align: center;
  color: #fff2e5;
  padding: 16px 16px;
}
.nav ul a li:hover {
  background-color: #2e2e2e;
  color: #fff2e5;
}


.nav ul a li :active {
  background-color: #fff2e5;
  color: #ff8341;
}


.mainTitle {
  width: fit-content;
  margin: 15% auto auto auto;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: bold;
  color: #ff8341;
  letter-spacing: 9px;
  text-align: center;
}
.typewriter h1 {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  color: #ff8341;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.08em solid #ff8341; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 9px; /* Adjust as needed */
  animation: typing 1.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff8341;
  }
}

.title{
  margin: 3% auto auto 1%;
  font-size: 3.1em;
  font-weight: bold;
  text-decoration: bold;
  color: #ff8341;
  letter-spacing: 3px;
  text-align: left;

}

.description p {
  font-size: 1.6em;
  color: #fff2e5;
  letter-spacing: 4px;
  text-align: center;
}

.btn1 {
  background-color: #ff8341;
  display: inline-block;
  padding: 11px 21px;
  border-radius: 28px;
  border: none;
  margin: 0;
  float: right;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-family: "Impact", sans-serif;
  font-size: 28px;
  color: #fff2e5;
  transition: all 0.2s;
  width: 140px;
}
.btn1:hover {
  color: #ff8341;
  background-color: #fff2e5;
}
.btn1:active {
  position: relative;
  top: 1px;
}

.btn2 {
  background-color: #fff2e5;
  display: inline-block;
  padding: 11px 21px;
  border: none;
  margin: 0;
  border-radius: 28px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  font-family: "Impact", sans-serif;
  font-size: 28px;
  color: #ff8341;
  transition: all 0.2s;
  width: 140px;
}
.btn2:hover {
  color: #fff2e5;
  background-color: #ff8341;
}

.btn_group {
  display: grid;
  grid-template-columns: 50% 45%;
  column-gap: 15px;
}

.Wrapper{
  margin: 5em auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3,auto);
  grid-gap: 0 rem;
  
}

img{
  width: 1140px;
  margin: 5rem 12rem;
  margin-bottom: -5.1rem;
  
  
}

.Wrapper main{
  background-color: #2e2e2e;
  grid-area:2/1/2/1;
  font-family: Anton;
  line-height: 1.6em;
  letter-spacing: 0.1em;

}

.Wrapper main p{
  width: 75%;
  color: #fff2e5;
  margin: 45px 0 0 0;
}

#text_10{
  width: 75%;
  color: #fff2e5;
  display: none;
}
#text_00{
  width: 75%;
  color: #fff2e5;
  display: none;
}
#text_90{
  width: 75%;
  color: #fff2e5;
  display: none;
}
#text_80{
  width: 75%;
  color: #fff2e5;
  display: none;
}

.Wrapper aside{
  grid-area: 2/2/2/2;
  height: 250px;
  margin: 0 0 0 20px;
  background-color: #2e2e2e;
}

.Wrapper > * {
  color: #ff8341;
  padding: 70px;
  border-radius: 0px 0px 10px 10px; 
}

